# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
    app.entity.user.class: 'Bloq\Common\EntitiesBundle\Entity\User'
    admin.entity.site.class: 'Bloq\Common\EntitiesBundle\Entity\Site'
    admin.manager.site.class: 'Bloq\Common\EntitiesBundle\Manager\SiteManager'
    admin.site_creation.form.type.class: 'Bloq\Common\EntitiesBundle\Form\Type\SiteCreationFormType'
    app.user.creation.form.type: app_user_creation
    app.user.creation.form.handler: app.user_creation.form.handler.default
    app.user.creation.form.name: app_user_creation_form

    app.front.twig_extension.multimedia.class: 'AppBundle\Twig\AppMultimediaExtension'
    app.front.twig_extension.text_content.class: 'AppBundle\Twig\AppTextContentExtension'
    app.front.twig_extension.editorial_content.class: 'AppBundle\Twig\AppEditorialContentExtension'
#    parameter_name: value

services:
#    app.user_creation.form:
#        class: Symfony\Component\Form\Form
#        factory: ["@form.factory", createNamed]
#        arguments:
#            - %app.user.creation.form.name%
#            - %app.user.creation.form.type%
#            - null
#            - {validation_groups: %fos_user.registration.form.validation_groups%}

    app.front.twig_extension.multimedia:
        class: %app.front.twig_extension.multimedia.class%
        tags:
            - { name: twig.extension }

    app.front.twig_extension.text_content:
        class: %app.front.twig_extension.text_content.class%
        tags:
            - { name: twig.extension }

    app.front.twig_extension.editorial_content:
        class: %app.front.twig_extension.editorial_content.class%
        tags:
            - { name: twig.extension }

    app.user_creation.form.type:
        class: Bloq\Common\EntitiesBundle\Form\Type\UserCreationFormType
        tags:
            - { name: form.type, alias: app_user_creation }
        arguments:
            - %app.entity.user.class%
            - %security.role_hierarchy.roles%
            - "@security.authorization_checker"
            - "@admin.manager.site"

    app.user_creation.form.handler:
        class: Bloq\Common\EntitiesBundle\Form\Handler\UserCreationFormHandler
        arguments:
            - "@fos_user.registration.form"
            - "@request"
            - "@fos_user.user_manager"
            - "@fos_user.mailer"
            - "@fos_user.util.token_generator"
            - "@session"
        scope: request
        public: false

    admin.manager.site:
        class: %admin.manager.site.class%
        arguments:
            - "@doctrine.orm.entity_manager"
            - %admin.entity.site.class%

    admin.site_creation.form.type:
        class: %admin.site_creation.form.type.class%
        arguments:
            - %admin.entity.site.class%
        tags:
            - {name: form.type, alias: admin_site_creation}

    twig.extensions.text:
        class: Twig_Extensions_Extension_Text
        tags:
            - { name: twig.extension }
