{% extends "base.html.twig" %}

{% block metas %}
<meta charset="utf-8">
<title>latidoalatido.com</title>
<meta name="title" content="latidoalatido.com">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
{% endblock %}

{% block bodyAttributes %}name="{% block bodyName %}top{% endblock %}" id="{% block bodyId %}portada{% endblock %}"{% endblock %}

{% block content %}
<main class="contenedor clear">
    <span class="col-9 clear bloque-ppal">
    {% block title %}{% endblock %}
    {% block zone_A1 %}{% endblock %}
    {% block zone_A2 %}{% endblock %}
    {% block zone_A3 %}{% endblock %}
    {% block zone_A4 %}{% endblock %}
    {% block zone_A5 %}{% endblock %}
    </span>
    <section class="col-3 pad clear {% block zone_B_class %}bloque-oficial{% endblock %}">
    {% block robapaginas %}
    <div class="robapaginas">
        <script type="text/javascript" language="JavaScript">
        //sitenameDFP
        var agm_site="GRADAFAN.ES";
        //zonenameDFP
        var agm_zona="resto";
        // <![CDATA[
        //Mobile
        if(screen.width<728) {
            var agm_sz="300x600,300x250";
            var agm_resolw=window.screen.availWidth;
            var agm_resolh=window.screen.availHeight;
            agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
            if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
            if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
            document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+'_MOBILE;resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
        } else if (screen.width<979 && screen.width>=728) {
            //Tablet
            var agm_sz="300x600,300x250";
            var agm_resolw=window.screen.availWidth;
            var agm_resolh=window.screen.availHeight;
            agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
            if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
            if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
            document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+'_TABLET;resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
        } else if (screen.width>980 && screen.width<=1024) {
            //Tablet Lanscape
            var agm_sz="300x600,300x250";
            var agm_resolw=window.screen.availWidth;
            var agm_resolh=window.screen.availHeight;
            agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
            if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
            if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
            document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+'_TABLET;resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
        } else {
            //Desktop
            var agm_sz="300x600,300x250";
            var agm_resolw=window.screen.availWidth;
            var agm_resolh=window.screen.availHeight;
            agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
            if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
            if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
            document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+';resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
        }
        // ]]>
        </script>
    </div>
    {% endblock %}
    {% block zone_B1 %}{% endblock %}
    {% block zone_B2 %}{% endblock %}
    {% block zone_B3 %}{% endblock %}
    </section>
</main>
{% endblock %}
