{% extends "base.html.twig" %}

{% block metas %}
<meta charset="utf-8">
<title>latidoalatido.com</title>
<meta name="title" content="latidoalatido.com">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
{% endblock %}

{% block bodyAttributes %}name="{% block bodyName %}top{% endblock %}" id="{% block bodyId %}portada{% endblock %}"{% endblock %}

{% block content %}
<main class="contenedor clear">
    <span class="col-9 clear bloque-ppal">
    {% block title %}{% endblock %}
    {% block zone_A1 %}{% endblock %}
    {% block zone_A2 %}{% endblock %}
    {% block zone_A3 %}{% endblock %}
    {% block zone_A4 %}{% endblock %}
    {% block zone_A5 %}{% endblock %}
    </span>
    <section class="col-3 pad clear {% block zone_B_class %}bloque-oficial{% endblock %}">
    {% block robapaginas1 %}
        <div class="robapaginas">
        {{ advertisingMacros.roba('resto') }}
        </div>
    {% endblock %}
    {% block zone_B1 %}{% endblock %}
    {% block zone_B2 %}{% endblock %}
    {% block robapaginas2 %}
        <div class="robapaginas">
        {{ advertisingMacros.roba('resto') }}
        </div>
    {% endblock %}
    {% block zone_B3 %}{% endblock %}
    </section>
</main>
{% endblock %}
